{% extends 'base.html' %}

{% block title %}Inicio APP{% endblock %}

{% block content %}
<h1>Página de Inicio</h1>
<p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Inventore delectus facere accusantium voluptatum, maxime eos id illum minima. Ratione quas, voluptas eos cum tempore et vitae hic omnis nam obcaecati?
    Enim quos dolorem ipsum eligendi, praesentium animi laborum distinctio mollitia aliquam et ut, vitae assumenda cumque harum ab deserunt! Soluta iusto incidunt quis illo culpa cupiditate cumque esse unde sed!
    Veritatis iste quidem laboriosam aperiam consectetur reiciendis, in illum voluptate debitis repellat quas nisi, laudantium placeat dolores rem vel delectus! Obcaecati perferendis neque fugit, architecto sapiente ullam voluptates beatae quibusdam.
    Amet illum culpa aperiam labore, nam ullam? Accusantium amet ad minus deleniti dolor nam suscipit odio assumenda laudantium molestiae quod repudiandae maxime, officiis numquam. Ut, veritatis? Dignissimos eaque voluptatibus doloribus!
    Eveniet similique voluptate doloremque in, cupiditate eaque fugiat soluta! Similique fugiat rem quos sapiente dignissimos accusantium error praesentium nulla, perspiciatis est distinctio corporis quas numquam nesciunt, doloremque id officia a?
    Labore dolore unde, in distinctio ad a aliquid voluptates, maxime quisquam fugit deserunt asperiores impedit voluptas adipisci? Earum praesentium debitis maxime temporibus, cumque, sit veniam inventore voluptatem laborum aliquid repellendus.
    Cum nulla culpa debitis blanditiis incidunt, modi, fugiat dolorem deserunt provident accusantium consequatur quisquam quaerat? Et facere cupiditate iste praesentium voluptatum alias eum nemo dolorem ipsam. Dolorem enim reprehenderit suscipit!
    Dolores quod sit consequuntur vitae fugiat alias, fugit, tenetur quaerat sapiente assumenda quam voluptates, et eaque iure deleniti similique dignissimos. Eos inventore nostrum fuga labore quas harum iste consequuntur perspiciatis.
    Sapiente quibusdam corporis id quaerat alias voluptates? Aspernatur dicta deleniti perferendis totam autem culpa et eligendi non facilis inventore quam beatae, odit nostrum hic omnis earum assumenda nesciunt repellendus adipisci.
    Beatae, corrupti eum. Cumque similique necessitatibus exercitationem accusantium culpa maiores voluptate rerum blanditiis, minus neque! Asperiores dicta saepe at distinctio molestias veniam ut quam quo quos, aperiam perferendis consequuntur ipsum.
</p>
{% endblock %}